<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="placeholder for a font" rel="stylesheet">

    <link rel="shortcut icon" href="assets/img/burgericon.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <title>What I want to Eat</title>
</head>

<body data-spy="scroll" data-target="#responsive image">
    <!-- hero header-->
    <div id="home">
        <div class="landing">
            <div class="home-wrap">
                <div class="home-inner">
                    <div class="caption center-block text-center">
                        <img src="../../public/assets/img/smalldevicebackground.jpg" class="img-fluid" alt="responsive image">
                        <h3>Eat Da Burger</h3>
                        <p>Enter a burger you want to eat and click on "Add a Burger" button.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end hero header section -->

    <br>
    <br>
    <hr> {{{ body }}}
    </div>
    </div>
<!----footer -->
    <div class="container-fluid footer">
     
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright text-center py-3">
                        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
                        <div>
                            <a href="https://www.linkedin.com/authwall?trk=ripf&trkInfo=AQHi1yX_lsJEpgAAAWnVoRbQEU_tqZB-Nwce6gAgn72Gd4RP1jslwZHHFQEqKqLNDQ6-Vc-MkwXLIT7sMevqKLo_qE3-y2hAc4PgW4WvccjogLqXlz_A8mtXrGR29olm3CXsXxI=&originalReferer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fin%2Ftodegova">
                                <i class="fa fa-briefcase fa-2x"></i>
                            </a>
                            <a href="https://www.instagram.com/tanya____o/?hl=en">
                                <i class="fa fa-instagram fa-2x"></i>
                            </a>
                            <a href="https://tanyaodegova.github.io/Bootstrap-Portfolio/portfolio.html">
                                <i class="fa fa-github fa-2x"></i>
                            </a>
                            <hr> &copy; 2019
                        </div>
                    </div>
                    <!--- End Row -->
                </div>
                <!--- End Container Footer -->
            </div>
</body>

</html>