html {
	background-color: whitesmoke;
}

body {
	width: 100%;
   margin: 0 auto;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

#burger_image {
	display: block;
   margin: auto;
}

h1 {
	text-align: center;
	font-family: "Medula One", cursive;
	font-size: 65px;
	margin: 50px;
}

.burgerAvailable {
	font-family: 'Lato', cursive;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	border-radius: 25px;
	width: 100%;
	margin: 10px;
	padding: 10px;
	color: black;
	background-color: rgb(177, 143, 32);
	border: none;
}

.burgerAvailable:hover {
	background-color: rgb(224, 215, 160);
}

.burgerEaten {
	font-family: "Lato", cursive;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	border-radius: 25px;
	margin: 10px;
	padding: 10px;
	color: black;
	background-color: rgb(189, 109, 72);
}

h2 {
	 text-align: center;
	font-family: "Medula One", cursive;
	font-size: 40px;
	margin: 50px;
}

.formContainer {
	background-color:white;
	width: 400px;
}

.addBurgerButton {
	font-family: "Medula One", cursive;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: white;
	border-radius: 25px;
	width: 100%;
	margin: 0;
	padding: 10px;
	background-color: rgb(107, 88, 88);
	border: none;
}

.addBurgerButton:active {
   background-color: slategrey;
   color: black;
}

.footer {
   background-color: whitesmoke;
   padding: 20px 0;
   color: black;
   font-family: "Lato", cursive;
}